<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="COMessengerClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        <section name="CoMessenger_Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client" /></startup>
    <userSettings>
        <COMessengerClient.Properties.Settings>
            <setting name="UseCurrentWindowsAccount" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UserCultureUIInfo" serializeAs="String">
                <value>(Default)</value>
            </setting>
            <setting name="UserLogin" serializeAs="String">
                <value />
            </setting>
            <setting name="UserPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="UserDomain" serializeAs="String">
                <value />
            </setting>
            <setting name="Server" serializeAs="String">
                <value />
            </setting>
            <setting name="Port" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoSignIn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IncomingMessageBackgroundColor1" serializeAs="String">
                <value>#FFF0F8FF</value>
            </setting>
            <setting name="IncomingMessageBackgroundColor2" serializeAs="String">
                <value>#FFF0F8FF</value>
            </setting>
            <setting name="IncomeLeftIndent" serializeAs="String">
                <value>35</value>
            </setting>
            <setting name="IncomeRightIndent" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="BothBottomIndent" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="BothTopIndent" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IncomePadding" serializeAs="String">
                <value>35,0,100,15</value>
            </setting>
            <setting name="ContactListRowHeight" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="OutcomingMessageBackgroundColor1" serializeAs="String">
                <value>#1000FF00</value>
            </setting>
            <setting name="OutcomingMessageBackgroundColor2" serializeAs="String">
                <value>#1000FF00</value>
            </setting>
            <setting name="OutcomePadding" serializeAs="String">
                <value>100,0,20,15</value>
            </setting>
            <setting name="SavePassword" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SoundFileNewMessage" serializeAs="String">
                <value>Sound\newmsg.wav</value>
            </setting>
            <setting name="HideOnClose" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ContactListWidth" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="AvatarHeightContactList" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="MessageNotificationBackgroundColor" serializeAs="String">
                <value>#FFF0F8FF</value>
            </setting>
        </COMessengerClient.Properties.Settings>
        <CoMessenger_Client.Properties.Settings>
            <setting name="MainWindowSize" serializeAs="String">
                <value>500,1000</value>
            </setting>
            <setting name="NewMessageFont" serializeAs="String">
                <value>Verdana,13,96,96,96</value>
            </setting>
            <setting name="ChatBoxFont" serializeAs="String">
                <value>Segoe UI,11,96,96,96</value>
            </setting>
        </CoMessenger_Client.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.29.0" newVersion="2.2.29.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
